<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Agregar Amistad</title>
</head>
<body>
    <h1>Agregar Amistad</h1>
    <form method="POST" action="{{ url_for('add_friendship') }}">
        <label for="user_id">Usuario:</label>
        <select name="user_id">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.nombre }}</option>
            {% endfor %}
        </select>
        <label for="friend_id">Amigo:</label>
        <select name="friend_id">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Agregar Amistad</button>
    </form>
    <a href="{{ url_for('view_friendships') }}">Volver a la Lista de Amistades</a>
</body>
</html>
